@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

	<div id="main" class="container">
		<header class="style1">
			<h2>Current Groups</h2>
		</header>
		<!-- Features -->
		<section id="features" class="row">
			<div class="4u 12u(mobile)">
				<div class="service-box">
					<img src="/media/1031/manearbl.png" />
					<h3>Fit Cubs</h3>
					<ul class="meta">
						<li class="icon fa-clock-o">Tuesdays - MINIS 9.45-10.30 am JNRS 11-11.45 am</li>
						<li class="icon fa-map-marker">Royal British Legion – Manea</li>
						<li class="icon fa-gbp">Babies £1.50 - Walkers from £2.50 - Jnrs from £3<li/>
					</ul>
				</div>
			</div>
			<div class="4u 12u(mobile)">
				<div class="service-box">
					<img src="/media/1032/churchhall.png" />
					<h3>Fit Cubs</h3>
					<ul class="meta">
						<li class="icon fa-clock-o">Fridays - MINIS 10-10.45 am JNRS 11-11.45 am</li>
						<li class="icon fa-map-marker">St Peters Church Hall – March</li>
						<li class="icon fa-gbp">Babies £1.50 - Walkers from £2.50 - Jnrs from £3<li/>
					</ul>
				</div>
			</div>
			<div class="4u 12u(mobile)">
				<div class="service-box">
					<img src="/media/1033/story.png" />
					<h3>Story Cafe</h3>
					<ul class="meta">
						<li class="icon fa-clock-o">WERE GOING ON AN EGG HUNT - 3-4pm</li>
						<li class="icon fa-map-marker">Royal British Legion – Manea</li>
						<li class="icon fa-gbp">£1 per child<li/>
					</ul>
				</div>
			</div>
		</section>
	</div>
</div>