@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}
<!-- Features -->
<div id="highlights" class="container">
	<header class="style1">
		<h2>Our Events</h2>
	</header>
		<div class="row 150%">
			@foreach (var feature in homePage.umbTextPages.Where("featuredPage"))
			{
				<!-- Feature -->
            	<div class="4u 12u(mobile)">
              		<section class="highlight">
						<a href="#" class="image featured"><img alt="" src="@feature.Image">
						</a>
                  		<h3>@feature.Name</h3>
                  			@Umbraco.Truncate(feature.BodyText, 100)
                  		<ul class="actions">
                  			<a class="button" href="@feature.Url">Learn More</a>
						</ul>
              		</section>
            	</div>
				<!-- /Feature -->
			}
		</div>
</div>
<!-- /Features -->