@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var nodeIds = Model.Content.GetPropertyValue("slideshow").ToString().Split(',');
	List<IPublishedContent> slides = new List<IPublishedContent>();

	foreach (var nodeId in nodeIds)
	{
		if (!String.IsNullOrEmpty(nodeId))
		{
			var publishedContent = Umbraco.NiceUrl(Convert.ToInt32(nodeId));
			if (!String.IsNullOrEmpty(publishedContent) && publishedContent != "#")
			{
				slides.Add(Umbraco.TypedContent(nodeId));
			}
		}
	}
}

<div id="slideshow" class="carousel slide">
	<div class="view view-slider view-id-slider view-display-id-block">
		<div id="flexslider_views_slideshow_main_slider-block" class="flexslider_views_slideshow_main views_slideshow_main flexslider_views_slideshow-processed">
				
			<div class="flexslider flexslider-processed">
				<ul id="flexslider_views_slideshow_slider-block" class="flexslider-views-slideshow-main-frame slides">
					@foreach (var slide in slides)
					{
						if (slide != null)
						{
							string styleString = !slide.IsFirst() ? "display:none;" : "";
							
							<li class="flexslider-views-slideshow-main-frame-row rotating-panel" style="width: 100%; float: left; margin-right: -100%;">
								<div class="views-field views-field-field-slide-image">
									<div class="field-content">
										<img src="@slide.GetPropertyValue("mainImage")" alt="@slide.Name">
									</div>
								</div>
								<div class="views-field views-field-body">
									<div class="field-content">
										@*Html.Raw(slide.GetPropertyValue("bodyText"))*@
										<p><strong>High</strong> <b>quality of care</b> <span>and education provided</span></p>
									</div>
								</div>
							</li>
						}
					}
				</ul>
				<ol id="slidePager" class="flex-control-nav">
					@foreach (var slide in slides)
					{
						string classString = slide.IsFirst() ? "active" : "";
						<li>
							<a href="?position={position()}" class="@classString">
								@slide.Position()
							</a>
						</li>
					}
				</ol>
			</div>
		</div>
	</div>
	<div id="block-block-6" class="8u 12u(small) block block-block block-odd">
		<div class="content">
			<p>8901 Marmora Road, Glasgow, D04 89GR. <span>+1 (959) 552 5963</span></p>
		</div> 
	</div>		
</div>