@using CleverCubs.Models 
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Velocity.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<div class="wrapper" style="background: url(/media/1031/background.jpg)">
	<!-- Contact Form -->
	<div id="main" class="container">
		<header class="style1">
			<h2>Contact Us</h2>
		</header>
		<div class="row">
			@{ Html.RenderPartial("~/Views/Partials/umbContactForm.cshtml", new ContactModel()); }
		</div>
	</div>
</div>